<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="../stylesheet.css">

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/animate.css">
    <link rel="stylesheet" href="../public/css/magnific-popup.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheet.css">
    <!-- Main css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Online Election Assistant</title>


</head>
<body>
<div class="navbar custom-navbar" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO TEXT HERE -->
            <a href="/" class="navbar-brand">VoteAsst.</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catalogue
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../category">Browse by category</a><br>
                        <a class="dropdown-item" href="../candidate">Browse by candidate</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Voting
                    </a>
                    <div class="dropdown-menu" >
                        <a class="dropdown-item" href="../queueol">Queue Online</a><br>
                        <a class="dropdown-item" href="../station">Find Polling Stations</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="title">
    <h1>Category</h1>
</div>

<div class="grid-container">
    <div class="itema">
        <div class ="picture">
            <a href="/category/education">
                <img src="education.jpg" alt="Education">
            </a>
        </div>
        <div>
            <a class="desc" href="/category/education">
                EDUCATION
            </a>
        </div>
    </div>

    <div class="itemb">
        <div class ="picture">
            <a href="/category/tax">
                <img src="tax.jpg" alt="tax">
            </a>
        </div>
        <div>
            <a class="desc" href="/category/tax">
                TAX
            </a>
        </div>
    </div>

    <div class="itemc">
        <div class ="picture">
            <a href="/category/health">
                <img src="health.jpg" alt="HEALTH" >
            </a>
        </div>
        <div>
            <a class="desc" href="/category/health">
                HEALTH
            </a>
        </div>
    </div>

    <div class="itemd">
        <div class ="picture">
            <a href="/category/safety">
                <img src="public_safety.jpeg" alt="public_safety" >
            </a>
        </div>
        <div>
            <a class="desc" href="/category/safety">
                PUBLIC SAFETY
            </a>
        </div>
    </div>

    <div class="iteme">
        <div class ="picture">
            <a href="/category/employment">
                <img src="employment.jpg" alt="emp" >
            </a>
        </div>
        <div>
            <a class="desc" href="/category/employment">
                EMPLOYMENT
            </a>
        </div>
    </div>

    <div class="itemf">
        <div class ="picture">
            <a href="/category/economy">
                <img src="eco.jpg" alt="eco" >
            </a>
        </div>
        <div>
            <a class="desc" href="/category/economy">
                ECONOMY
            </a>
        </div>
    </div>

</div>

    <div class="title">
        <p>&copy; 2018 Team about:blank.</p>
    </div>





    <script>
        function myFunction() {
            var input, filter, ul, h5, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            classs = document.getElementById("myUL");
            h5 = classs.getElementsByTagName("h5");
            for (i = 0; i < h5.length; i++) {
                a = h5[i];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    h5[i].style.display = "";
                } else {
                    h5[i].style.display = "none";

                }
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>

</body>
</html>