<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
            <div class="dropbtn"> Policy

            </div>
            <div class="dropdown-content">
                <a href="/category">Browse by Category</a>
                <a href="/candidate">Browse by Candidate</a>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropbtn"> Ready to Vote

            </div>
            <div class="dropdown-content">
                <a href="/queueol">Queue Online</a>
                <a href="#">Online Submission</a>
                <a href="#">Find Polling Station</a>
            </div>
        </div>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<div class="rowtitle">
    <h1>BROWSE BY CATEGORY</h1>
</div>

<div class="tools">
    <div>
        <h3>Tools
        </h3>
        <a href="#">Listen</a>
    </div>
    </div>
</div>

<div class="grid-container">
    <div class="itema">
        <div class ="picture">
            <a href="/category/education">
                <img src="education.jpg" alt="Education">
            </a>
        </div>
        <div>
            <a class="desc" href="/category/education">
                EDUCATION
            </a>
        </div>
    </div>

    <div class="itemb">
        <div class ="picture">
            <a href="/category/tax">
                <img src="tax.jpg" alt="tax">
            </a>
        </div>
        <div>
            <a class="desc" href="/category/tax">
                TAX
            </a>
        </div>
    </div>

    <div class="itemc">
        <div class ="picture">
            <a href="/category/health">
                <img src="HEALTH.jpg" alt="HEALTH" >
            </a>
        </div>
        <div>
            <a class="desc" href="/category/health">
                HEALTH
            </a>
        </div>
    </div>

    <div class="itemd">
        <div class ="picture">
            <a href="/category/safety">
                <img src="public_safety.jpeg" alt="public_safety" >
            </a>
        </div>
        <div>
            <a class="desc" href="/category/safety">
                PUBLIC SAFETY
            </a>
        </div>
    </div>

    <div class="iteme">
        <div class ="picture">
            <a href="/category/employment">
                <img src="employment.jpg" alt="emp" >
            </a>
        </div>
        <div>
            <a class="desc" href="/category/employment">
                EMPLOYMENT
            </a>
        </div>
    </div>

    <div class="itemf">
        <div class ="picture">
            <a href="/category/economy">
                <img src="eco.jpg" alt="eco" >
            </a>
        </div>
        <div>
            <a class="desc" href="/category/economy">
                ECONOMY
            </a>
        </div>
    </div>

</div>

<div class="tail">
    <div class="tail1">
        <a href="#">ABOUT US</a>
    </div>
    <div class="tail2">
        <a href="#">TERM OF USE</a>
    </div>
    <div class="tail3">
        <a href="#">CONTACT</a>
    </div>
</div>

</body>
</html>