<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <ul class="dropbtn"> Policy
        </ul>
        <div class="dropdown-content">
            <a href="../category">Browse by Category</a>
            <a href="../candidate">Browse by Candidate</a>
        </div>
    </div>
    <div class="dropdown">
        <ul class="dropbtn"> Ready to Vote
        </ul>
        <div class="dropdown-content">
            <a href="../queueol">Queue Online</a>
            <a href="#">Online Submission</a>
            <a href="#">Find Polling Station</a>
        </div>
    </div>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<div class="rowtitle">
    <h1>Economy</h1>
</div>

<div class="tools">
    <div>
        <h3>Tools
        </h3>
        <a href="#">Listen</a>
    </div>
</div>

<div class="grid-containertwo">
    <div class="item1">
        <div class="breadcrumbs">
            <div><a href="/">Home</a>/</div>
            <div><a href="/category">Category</a>/</div>
            <div><a href="/category/economy">Economy</a></div>
        </div>
        <div>
            <form action="/action_page.php">
                <input type="text" placeholder="Search" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

    </div>

    <div class="item2">
        <div>
            <a href="#"><h5>Government school LBOTE students by English spoken at home, August 2007-2017 Popular</h5></a>
            <p>The full-time equivalent of Government School student enrolments who have a Language Background Other Than English (LBOTE) and whether English is spoken at home.</p>
        </div>
    </div>

    <div class="item2">
        <div>
            <a href="#"><h5>Government school LBOTE students by English spoken at home, August 2007-2017 Popular</h5></a>
            <p>The full-time equivalent of Government School student enrolments who have a Language Background Other Than English (LBOTE) and whether English is spoken at home.</p>
        </div>
    </div>

    <div class="item2">
        <div>
            <a href="#"><h5>Government school LBOTE students by English spoken at home, August 2007-2017 Popular</h5></a>
            <p>The full-time equivalent of Government School student enrolments who have a Language Background Other Than English (LBOTE) and whether English is spoken at home.</p>
        </div>
    </div>

    <div class="item2">
        <div>
            <a href="#"><h5>Government school LBOTE students by English spoken at home, August 2007-2017 Popular</h5></a>
            <p>The full-time equivalent of Government School student enrolments who have a Language Background Other Than English (LBOTE) and whether English is spoken at home.</p>
        </div>
    </div>

    <div class="item2">
        <div>
            <a href="#"><h5>Government school LBOTE students by English spoken at home, August 2007-2017 Popular</h5></a>
            <p>The full-time equivalent of Government School student enrolments who have a Language Background Other Than English (LBOTE) and whether English is spoken at home.</p>
        </div>
    </div>

</div>



<div class="tail">
    <div class="tail1">
        <a href="#">ABOUT US</a>
    </div>
    <div class="tail2">
        <a href="#">TERM OF USE</a>
    </div>
    <div class="tail3">
        <a href="#">CONTACT</a>
    </div>
</div>

</body>
</html>