<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ass</title>
</head>
<body>
<h1>Detail</h1>
<h2>Name</h2>
<p><%=info.name%></p>
<h2>Age</h2>
<p><%=info.age%></p>
</body>
</html>