<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href='../../public/css/bootstrap.css'>
    <link rel="stylesheet" href='../public/css/stylesheet.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">


    <link rel="stylesheet" href="../public/css/style.css">

    <title>Online Election Assistant</title>
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <div class="navbar custom-navbar" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">VoteAsst.</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catalogue
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../category">Browse by category</a><br>
                                <a class="dropdown-item" href="../candidate">Browse by candidate</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Voting
                            </a>
                            <div class="dropdown-menu" >
                                <a class="dropdown-item" href="../queueol">Queue Online</a><br>
                                <a class="dropdown-item" href="../station">Find Polling Stations</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <%if(errors){%>
        <%for(var i in errors){%>
        <div class="alert alert-danger"><%=errors[i].msg%></div>
        <%}%>
    <%}%>

    <div class="row">
        <div class="col-lg-12">
            <form method="post" action='/queueol'>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name="fname">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="lname">
                </div>
                <div class="form-group">
                    <label>Personal Identification Number</label>
                    <input type="text" class="form-control" placeholder="ID No." name="idno">
                </div>
                <div class="form-group">
                    <label>Choose Station</label>
                    <select class="form-control" name="bname">
                        <option value="" disabled selected hidden></option>
                    <%for(var j in booths){%>
                        <option><%=booths[j].content.address%></option>
                    <%}%>
                </select>
                </div>
                <button type="submit" class="btn btn-default">Get in Line</button>


            </form>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2018 Team about:blank.</p>
    </footer>

</div> <!-- /container -->


<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>


