<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
        <ul class="dropbtn"> Policy
        </ul>
        <div class="dropdown-content">
            <a href="/category">Browse by Category</a>
            <a href="/candidate">Browse by Candidate</a>
        </div>
    </div>
    <div class="dropdown">
        <ul class="dropbtn"> Ready to Vote
        </ul>
        <div class="dropdown-content">
            <a href="/queueol">Queue Online</a>
            <a href="#">Online Submission</a>
            <a href="#">Find Polling Station</a>
        </div>
    </div>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<div class="rowtitle">
    <h1>Queue Online</h1>
</div>

<div>
    <h2>Enter your details: </h2>
    <form>

        <input type="text" id="fname" placeholder="First name">

        <input type="text" id="lname" placeholder="Last name">

        <input type="text" id="idn" pattern="[1-9]{8}" placeholder="8 digits" title="Enter correct 8-digit id">

        <input type="button" id="queue" onclick="queueOnline()" value="Queue"></input><br>

        <div>
            <h1 id="reminder"></h1>
            <h1 id="q_number"></h1>
            <p class="people">there are <d id="n"></d> more people in front of you.</p>
            <br>
            <p class="people">Please bring your valid identification document to the polling station, wait for your number to get called</p>

        </div>


    </form>

</div>
<script>
    var numberInfront = 0

    function queueOnline(){

        var fname = document.getElementById("fname").value;
        var lname = document.getElementById("lname").value;
        var idn = document.getElementById("idn").value;



        if(fname==null || lname=="",lname==null || lname=="",idn==null || idn==""){
           alert("Please Fill All Required Field");
        }
        else {


        document.getElementById("reminder").innerHTML= "Please hold on to this number: ";
        document.getElementById("q_number").innerHTML = Math.floor(10000 + Math.random() * 90000).toString()+" "+Math.floor(10000 + Math.random() * 90000).toString()+" "+Math.floor(10000 + Math.random() * 90000).toString();
        document.getElementsByClassName("people")[0].style.display = "inline";
        document.getElementsByClassName("people")[1].style.display = "inline";
        document.getElementById("n").innerHTML = numberInfront.toString();
        numberInfront++;

        }

    }

</script>


</html>

