    .breadcrumbs div{
        display: inline-block;
        font-size: small;
    }
    .breadcrumbs a{
        text-decoration: none;
        color: black;
    }
    .breadcrumbs a:hover{
        color: royalblue;
    }

    .grid-containertwo {
        display: grid;
        grid-template-columns: 300px 600px;
        grid-template-rows: 200px 200px 200px 200px;    
        grid-gap: 0px;
        padding-top:50px;
        justify-content: center;
    }

    .grid-containertwo > div {
            font-size: 20px;

    }
.title{
    background-image: url("../fon-blue.jpg" );
    margin:0;
    border:0;
    padding:30px;
    text-align: center;
    letter-spacing: 3px;
    color:white;
}
.grid-container{
            display: grid;
            grid-template-columns: 300px 300px 300px;
            grid-template-rows: 300px 300px 300px;
            grid-gap: 50px;
            padding: 10px;
            justify-content: center;

        }

        .grid-container > div {
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
            border-bottom: 1px solid darkgrey;
        }
        .grid-containertwo {
            display: grid;
            grid-template-columns: 300px 600px;
            grid-template-rows: 200px 200px 200px 200px 200px 200px;
            grid-gap: 0px;
            padding: 10px;
            justify-content: center;
        }

        .grid-containertwo > div {
            font-size: 30px;

        }
	 .picture{
            margin:0;
            border:0;
            padding:0px;
        }

        .picture:hover{
            opacity: 0.5;
        }

        .picture img{
            border-radius: 25px;
            width:300px;
            height:200px;
        }
        .desc{
            font-family: Arial, Helvetica, sans-serif;
            color:royalblue;
            text-decoration: none;
            margin:0;
            border:0;
            padding: 0;
            text-align: center;
            font-size: medium;
        }
.profile{
    width: 100px;
    height: 150px;
    
}

    .grid-containerthree {
        display: grid;
        grid-template-columns: 100px 200px;
        grid-template-rows: 150px;
        grid-gap: 30px;
        padding: 20px;
    }

    .grid-containerthree > div {
        font-size: 20px;
    }

    .desc1{
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            margin:0;
            border:0;
            padding: 0;
            font-size: medium;
    }





.column {
    float: left;
    padding: 10px;
}
.column.side {
    width: 25%;
    border-left:1px solid darkgrey;
    height:670px;
}
.column.middle {
    display: block;
    width: 75%;

}
.mySlides {display: none;}
img {vertical-align: middle;}
.style1 img{
    margin-left: 25%;
    width: 1000px;
    height:  400px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.text {
    color: #ffffff;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
.slideshow-container {
    position: relative;
    margin: auto;
}
.middle-content {
    border-bottom: 1px solid darkgrey;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#querycontent{

    width:400px;
    height:300px;
}
#form_sub {
    background: #4299d4;
    background-image: -webkit-linear-gradient(top, #4299d4, #a3c4d6);
    background-image: -moz-linear-gradient(top, #4299d4, #a3c4d6);
    background-image: -ms-linear-gradient(top, #4299d4, #a3c4d6);
    background-image: -o-linear-gradient(top, #4299d4, #a3c4d6);
    background-image: linear-gradient(to bottom, #4299d4, #a3c4d6);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 25px;
    padding: 9px 17px 9px 17px;
    text-decoration: none;
}
#form_sub:hover {
    background: #59b3eb;
    background-image: -webkit-linear-gradient(top, #59b3eb, #cee0eb);
    background-image: -moz-linear-gradient(top, #59b3eb, #cee0eb);
    background-image: -ms-linear-gradient(top, #59b3eb, #cee0eb);
    background-image: -o-linear-gradient(top, #59b3eb, #cee0eb);
    background-image: linear-gradient(to bottom, #59b3eb, #cee0eb);
    text-decoration: none;
}
.people{
    display:none;
}
#n{
    color:red;
}




