<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='../../public/css/bootstrap.css'>
    <link rel="stylesheet" href='../public/css/stylesheet.css'>

    <link rel="stylesheet" href="../public/css/style.css">
    <title>Enqueue Successful</title>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <div class="navbar custom-navbar" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">VoteAsst.</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catalogue
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../category">Browse by category</a><br>
                                <a class="dropdown-item" href="../candidate">Browse by candidate</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Voting
                            </a>
                            <div class="dropdown-menu" >
                                <a class="dropdown-item" href="../queueol">Queue Online</a><br>
                                <a class="dropdown-item" href="../station">Find Polling Stations</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <h2>Congratulations!</h2><br>
        <h4>You have entered the queue for Station at: <%=body.bname%></h4><br>
        <h4>At time: <%=body.time%></h4>
        <h4>Using ID: <%=body.idno%></h4>
        <h4>You have <div id="frontnum"><%=front%></div> people in front</h4>

    </div>
    <footer class="footer">
        <p>&copy; 2018 Team about:blank.</p>
    </footer>



</div> <!-- /container -->


</body>
</html>