<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Member</title>
</head>
<body>
<h1>Team about:blank</h1>
<br>
<div>
    <a  href="/users/0"><label>Hai Chen</label></a>
</div>
<br>
<div>
    <a  href="/users/1"><label>Zishuo Wang</label></a>
</div>
<br>
<div>
    <a  href="/users/2"><label>Biao Wang</label></a>
</div>

<input type="button" onclick="location.href='index.html';" value="back"/>
</body>
</html>